ion-content {
	--background: transparent;
}
ion-content{
    
}

ion-content #background-content {
	
	background: none !important;
	
}
/**
 * SettingsView
 */
.SettingsView ion-list-header {
	font-size:  18px;
}
.SettingsView ion-label[position=stacked] {
	font-size:  23px;
}

.polygon-geofence-menu {
	
}