ion-content {
	--background: transparent;
}


ion-content #background-content {
	
	background: none !important;
	
}
/**
 * SettingsView
 */
.SettingsView ion-list-header {
	font-size:  18px;
}
.SettingsView ion-label[position=stacked] {
	font-size:  23px;
}

.polygon-geofence-menu {
	
}

#geofence-prompt {
	background-color: #fff1a5;
	text-align: center;
	padding: 2px;
	font-size: 14px;
	border-bottom: 1px solid #fedd1e;
}
