app-home {
  border: 5px solid red;
}

ion-footer {
  background-color: #ffffff;  
  section {
    color: #000;
    .description {
      padding-left: 10px;
      padding-right: 10px;
    }
    .tracker-url {
      text-align:center
    }
  }
}
