<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-05-31T14:28:23Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/Glyph2TB/Users/chris/workspace/background-geolocation/capacitor/capacitor-background-geolocation-lt/example/ios/App/App.xcworkspace</string>
</dict>
</plist>
