<?xml version='1.0' encoding='utf-8'?>
<manifest package="com.transistorsoft.backgroundgeolocation.capacitor" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation" android:label="@string/title_activity_main" android:launchMode="singleTask" android:name="com.transistorsoft.backgroundgeolocation.capacitor.MainActivity" android:theme="@style/AppTheme.NoActionBarLaunch" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDXTDr2C3iU9jgwpNVpZjeWzOc-DyCgkt8"/>
        <meta-data android:name="com.transistorsoft.locationmanager.license" android:value="96453dbb4ab9365552809eb60147876b07d54aa0eb61a8b7be01095782897336" />
        <meta-data android:name="com.transistorsoft.locationmanager.hms.license" android:value="d10b4994830af3b62aabb6577b60f6e9bb3aa7357155b7c6f83082d8a47fe890" />

        <provider android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
